---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Helpers
@import
  'helpers/variables',
  'helpers/mixins';

// Base
@import
  'base/reset';

// Utilities
@import
  'utilities/layout';

// Components
@import
  'components/header',
  'components/navigation',
  'components/article',
  'components/archives',
  'components/social',
  'components/buttons',
  'components/footer';

// Themes
@import
  'themes/blue',
  'themes/green',
  'themes/grey',
  'themes/orange',
  'themes/purple';

// Vendor
@import
  'vendor/syntax-highlighting';

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
